/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

	.navbar-nav li a {
		font-size: 16px;
	}

	.hero-left h2 {
		font-size: 36px;
	}

	.hero-left p {
		font-size: 17px;
	}

	.footer-item .footer-logo {
		max-width: 140px;
	}

	.about-item h4 {
		font-size: 21px;
	}

	.about-item img {
		max-width: 40px;
	}

	.about-item p {
		font-size: 15px;
	}

	














}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000;
	}

	.header-area {
		position: initial;
	}

	.hero-left {
		margin-top: 45px;
	}

	.carousel-item {
		padding: 75px 0 85px;
	}

	.contact-left {
		margin-top: 45px;
	}

	.footer-item {
		margin: 20px 0;
	}

	.footer-area {
		padding-top: 45px;
	}
	
	.about-left {
		margin-top: 30px;
	}

	.about-main {
		padding: 30px 0 0;
	}














}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000000;
	}

	.header-area {
		position: initial;
	}

	.navbar-brand img {
		max-width: 121px;
	}

	.slider3 {
		background: linear-gradient(to top, #32BACF, #1F3259);
	}

	.hero-left h2 {
		font-size: 28px;
	}

	.hero-left p,
	.hero-left a {
		font-size: 17px;
	}

	.hero-left {
		margin-top: 40px;
	}

	.carousel-item {
		padding: 55px 0 85px;
	}

	.radio-button-opt {
		position: relative;
		padding-top: 50px;
	}
	
	.radio-button-opt p {
		display: block;
		position: absolute;
		top: 12px;
	}

	.form-info input, 
	.form-info select, 
	.form-info textarea,
	.radio-button-opt {
		margin-bottom: 12px;
	}

	.radio-button {
		display: flex;
	}
	.radio-button label {
		text-align: left;
		display: inline-block;
		margin: 0;
	}

	.radio-button input {
		text-align: left;
		display: inline-block;
		margin: 0;
		margin-left: 10px;
	}

	.radio2 {
		margin-left: 40px;
	}

	.main-wraper2 {
		padding: 60px 0 50px;
	}

	.form-info button {
		margin-top: 25px;
	}

	.register-form h2 {
		font-size: 28px;
	}

	.contact-left {
		margin-top: 45px;
	}

	.contact-main {
		padding-top: 30px;
	}

	.contact-area {
		padding-bottom: 70px;
	}

	.footer-item {
		margin: 20px 0;
	}

	.footer-area {
		padding-top: 40px;
	}

	.course-area, 
	.about-area, 
	.gallery-area, 
	.contact-area {
		padding-top: 100px;
		margin-top: -40px;
	}

	.about-left {
		margin-top: 30px;
	}

	.about-main {
		padding: 25px 0 0;
	}

	.about-item {
		max-width: 350px;
		margin: 15px auto;
		text-align: center;
	}
	












}