/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

	.hero-left h2 {
		font-size: 36px;
	}

	.hero-left p {
		font-size: 17px;
	}

	














}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000;
	}

	.header-area {
		position: initial;
	}

	.hero-left {
		margin-top: 45px;
	}

	.carousel-item {
		padding: 75px 0 85px;
	}













}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.modal-backdrop.show {
	    opacity: 0.5;
	}

	.modal-backdrop {
	    background-color: #000000;
	}

	.header-area {
		position: initial;
	}

	.navbar-brand img {
		max-width: 121px;
	}

	.slider3 {
		background: linear-gradient(to top, #32BACF, #1F3259);
	}

	.hero-left h2 {
		font-size: 28px;
	}

	.hero-left p,
	.hero-left a {
		font-size: 17px;
	}

	.hero-left {
		margin-top: 40px;
	}

	.carousel-item {
		padding: 55px 0 85px;
	}
















}