/*=========
fonts
===========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

body {	
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #191919;	
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

::selection {
    color: white; 
    background: #218A42;
}

::-webkit-selection {
    color: white; 
    background: #218A42;
}

::-moz-selection {
    color: white; 
    background: #218A42;
}

/*scrollto-top*/
.scrollto-top {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgb(33, 138, 66, 0.8);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrollto-top:hover {   
    background: #218A42;
    color: #fff;
    box-shadow: 0px 0px 10px rgb(33, 138, 66, 0.8);
    -webkit-box-shadow: 0px 0px 10px rgb(33, 138, 66, 0.8);
    -moz-box-shadow: 0px 0px 10px rgb(33, 138, 66, 0.8);
}

/*===================
header-area start
=====================*/
.header-area {
    padding: 5px 0;
    position: sticky;
    top: 0;
    width: 100%;
    display: block;
    z-index: 99;
    background-color: #fff;
    transition: 0.3s all ease;
}

.headerfixed {
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
}

.navbar-brand img {
    max-width: 150px;
    transition: 0.3s all ease;
}

.navbar-nav li {
    padding: 10px 16px;
}

.navbar-nav li a {
    font-size: 18px;
    font-weight: 500;
    color: #191919;
    transition: 0.2s all ease;
    text-transform: uppercase;
    position: relative;
}

.navbar-nav li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #218A42;
    display: block;
    transition: 0.4s;
}

.navbar-nav li a:hover::after,
.navbar-nav li .active::after {
    width: 100%;
}

.navbar-nav li a:hover,
.header-area ul li .active {
    color: #218A42;
}

.navbar-nav li .nav-link {
    color: #191919;
    padding: 0!important;
}

.nav-btn li {
    padding: 10px 8px;
}

.nav-btn li a {
    background: transparent;
    border: 2px solid #218A42;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 7px;
}

.nav-btn li a::after {
    display: none;
}

.nav-btn li a:hover {
    background:#218A42;
    color: #FFF;
}

.navbar-toggler {
    outline: none!important;
    box-shadow: none!important;
    padding: 2px;
    transition: 0.2s all ease;
}

.navbar-toggler:hover {
    opacity: 0.75;
}

/*hamburger*/
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
}

.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block;
    outline: none; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

/*side-bar*/
.offcanvas-start {
    width: 320px;
    z-index: 999999999;
}

.offcanvas-header img {
    max-width: 120px;
}

.offcanvas-body ul li {
    padding: 10px 10px;
}

.offcanvas-body ul li .nav-link {
    padding: 0;
    display: inline-block;
}

.btn-close {
    opacity: 1;
    font-size: 25px;
    outline: none!important;
    box-shadow: none!important;
    transition: 0.2s all ease;
}

/*====================
hero-section start
======================*/
.hero-section {
    overflow: hidden;
}

.hero-left h2 {
    font-size: 46px;
    font-weight: 700;
    color: #FFCB00;
    text-transform: uppercase;
}

.hero-left h2 span {
    color: #FFF;
}

.hero-left p {
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    margin: 25px 0 40px;
}

.hero-left a {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    background: #FFCB00;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #FFCB00;
    padding: 12px 60px;
    border-radius: 8px;
}

.hero-left a i {
    display: inline-block;
    margin-left: 6px;
}

.hero-left a:hover {
    background: transparent;
    color: #FFCB00;
    border-color: #FFCB00;
}

.hero-right img {
    width: 100%;
    border-radius: 20px;
}

.carousel-item {
    padding: 105px 0;
}

.slider1 {
    background: #001722;
}

.slider2 {
    background: #E3EDFE;
}

.slider3 {
    background: linear-gradient(to right, #32BACF, #1F3259);
}

.slider2 h2 {
    color: #3B58B0;
}

.slider2 h2 span {
    color: #29429D;
}

.slider2 p {
    color: #243FA1;
}

.slider2 a {
    background: #243FA1;
    color: #FFF;
    border-color: #243FA1;
}

.slider2 a:hover {
    border-color: #243FA1;
    color: #243FA1;
}

.slider3 h2 {
    color: #1B1535;
}

.slider3 p {
    color: #1B1535;
}

.slider3 a {
    background: #1B1535;;
    color: #FFF;
    border-color: #1B1535;;
}

.slider3 a:hover {
    border-color: #1B1535;;
    color: #1B1535;;
}

.carousel-indicators [data-bs-target] {
    background-color: #A5CD37;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/*===================
course-area start
=====================*/
.course-area,
.about-area,
.gallery-area,
.contact-area {
    padding-top: 170px;
    margin-top: -80px;
}

.upper-content {
    max-width: 700px;
    margin: 0 auto;
}

.upper-content h2 {
    font-size: 36px;
    font-weight: 700;
    color: #191919;
    text-transform: uppercase;
}

.upper-content h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #218A42;
    margin: 10px auto;
}

.upper-content p {
    font-size: 18px;
    font-weight: 400;
    color: #191919;
}

.course-item {
    margin: 16px 0;
}

.course-item img {
    width: 100%;
}

.course-cnt h4 {
    font-size: 24px;
    font-weight: 700;
    color: #191919;
    text-transform: uppercase;
    margin: 16px 0 10px;
}

.course-cnt p {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
}

.course-cnt a {
    font-size: 18px;
    font-weight: 700;
    color: #218A42;
    background: transparent;
    border: 1px solid #218A42;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 8px;
    transition: 0.2s all ease;
}

.course-cnt a i {
    font-size: 15px;
    display: inline-block;
    margin-left: 5px;
}

.course-cnt a:hover {
    background: #218A42;
    color: #FFF;
}

/* accordian */
.faq-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.faq-box h3 {
    font-size: 20px;
    font-weight: 700;
    color: #191919;
    text-align: center;
    margin-bottom: 12px;
}

.faq-box button {
    font-size: 18px;
    font-weight: 500;
    color: #FFF!important;
    background: #001722!important;
    border: none;
    outline: none;
    box-shadow: none!important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}

.accordion-item {
    border: 2px solid #ddd;
}

.accordion-body {
    border: 1px solid #777;
}

.accordion-body p {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    margin-bottom: 5px;
}

/*===================
about-area start
=====================*/
.about-area {
    margin-top: -50px;
}

.about-main {
    padding: 40px 0 20px;
}
.about-right img {
    width: 100%;
}

.about-item img {
    max-width: 50px;
}

.about-item h4 {
    font-size: 24px;
    font-weight: 600;
    color: #191919;
    margin: 8px 0;
}

.about-item p {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    margin: 0;
}

.about-item {
    margin: 15px 0;
}

/*===================
gallery-area start
=====================*/
.gallery-item img {
    width: 100%;
}

.gallery-item {
    margin: 14px 0;
}



/*===================
contact-area start
=====================*/
.contact-area {
    padding-bottom: 80px;
}

.contact-main {
    padding-top: 40px;
}

.contact-left iframe {
    width: 100%;
    height: 250px;
}

.contact-left ul {
    padding-top: 20px;
}

.contact-left ul li {
    padding: 5px 0;
}

.contact-left ul .addres {
    display: flex;
    align-items: flex-start;
}

.contact-left ul .addres i {
    margin-right: 14px;
}

.contact-left ul li,
.contact-left ul li a {
    font-size: 18px;
    font-weight: 400;
    color: #191919;
    transition: 0.2s all ease;
}

.contact-left ul li i {
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #218A42;
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-left ul li a:hover {
    color: #218A42;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background: #F1F1F1;
    border: 1px solid #d1d1d1;
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-right button {
    width: 200px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #FFF;
    background: #218A42;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 14px 15px;
    border: 1px solid #218A42;;
    border-radius: 7px;
    margin-top: 30px;
    transition: 0.2s all ease;
}

.contact-right button:hover {
    background: transparent;
    color: #218A42;
}

/*===================
footer-area start
=====================*/
.footer-area {
    background: #001722;
    padding: 75px 0 25px;
}

.footer-item .footer-logo {
    max-width: 160px;
}

.footer-item p {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    margin-top: 20px;
}

.footer-item h4 {
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer-item ul li {
    padding: 5px 0;
}

.footer-item ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.footer-item .social-icon li {
    display: inline-block;
    padding: 0 5px;
}

.footer-item .social-icon li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: #FFF;
    color: #001722;
    border-radius: 50%;
    transition: 0.2s all ease;
}

.footer-item .social-icon li a:hover {
    opacity: 0.8;
}

.footer-item img {
    width: 100%;
}

.copyright-part {
    padding-top: 50px;
    text-align: center;
}

.copyright-part p {
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
}

.footer-area {
    position: relative;
}

/*===================
modal-area start
=====================*/
.modal-area {
    z-index: 99999;
    position: relative;
}

.modal-dialog {
    max-width: 900px;
}

.modal-header h5 {
    font-size: 18px;
    font-weight: 700;
    color: #191919;
    text-transform: uppercase;
    margin-left: 15px;
}

/*=========================
registration page start
===========================*/
.main-wraper2 {
    background: #001722;
    padding: 80px 0;
}

.register-form h2 {
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}

.register-form h2::after {
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background: #FFF;
    margin: 12px auto;
}

.register-form form {
    max-width: 800px;
    margin: 50px auto 0;
}

.form-info input,
.form-info select,
.form-info textarea {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #191919;
    background: #FFF;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-bottom: 16px;
    resize: none;
}

.form-info input::placeholder, 
.form-info select::placeholder, 
.form-info textarea::placeholder {
    color: #191919;
    opacity: 1;
}

.form-info select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background-image: url(images/down.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.form-info button {
    width: 200px;
    font-size: 18px;
    font-weight: 700;
    color: #191919;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 32px auto 0;
    background: #FFF;
    border: 2px solid #FFF;
    outline: none;
    padding: 12px 15px;
    border-radius: 8px;
    transition: 0.2s all ease;
}

.form-info button:hover {
    opacity: 0.8;
    background: transparent;
    color: #FFF;
}